body{
  /* font: 15px/1.5'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;; */
  padding:0;
  margin-bottom:50px;
  background-color:#282828;
  text-align: center;
  color: #E0E0E0;

}

/* Global */
.container{
  width:80%;
  margin: auto;
  overflow:hidden;
}
.navcontainer{
  width:90%;
  margin: auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.center img{
  max-height:50%;
  max-height:50%;
  min-height:10%;
  min-height:10%;

}

.dark{
  padding:15px;
  background:#282828;
  color:#E0E0E0;
  margin-top:10px;
  margin-bottom:10px;
}
/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-item {
    height: 100vh;
    min-height: 10%;
    max-height: 100%;
/*    height: 80%;
    min-height: 10%;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}
.carousel .carousel-item {
    transition-duration: 1.5s;
}
.carousel-item img {
  padding-top:40px;

  width: 100%;
  height: 100%;
  /*max-height: 575px;*/
  max-height: 100%;
}

/* Header **/
header{
  background:#282828;
  color:#E0E0E0;
  padding-top:35px;
  min-height:45px;
  /* border-bottom:rgb(255,127,80) 3px solid; */
  padding-bottom:25px;
}

header a{
  color:#E0E0E0;
  text-decoration:none;
  text-transform: uppercase;
  font-size:22px;
}

header li{
  float:left;
  display:inline;
  padding: 0 12px 0 12px;
  font-weight: 800;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;

}

header .highlight, header .current a{
  color:rgb(255,127,80);
  font-weight:1000;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.bodytext{
padding-top:20%;
    font-weight: 800;
    font-size: 125px;
}
.abouttext{
  padding-bottom:35px;
  padding-left: 5%;
  padding-right: 5%;
}

/******************************* Projects: columns*********************************/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 50px;
  height: flex; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/******************************* Projects: scrollbox*********************************/
/* Box styles */
.myBox {
  border: none;
  padding: 5px;
  font: 12px/18px courier;
  width: 80%;
  height: 20%;
  overflow: scroll;
  text-align: left;
}
  
  /* Scrollbar styles */
  div::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  div::-webkit-scrollbar-track {
  border: 1px solid peru;
  border-radius: 10px;
  }
  
  div::-webkit-scrollbar-thumb {
  background: peru;  
  border-radius: 10px;
  }
  
  div::-webkit-scrollbar-thumb:hover {
  background: chocolate;  
  }

.gallerythumbnail img{
  width: 30%;
	float: left;
  margin: 1.66%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.gallerythumbnail body{
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* .gallerywrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}

.gallerythumbnail img {
  max-height: 540px;
  margin-bottom: 10px;
} */

.titletext{
	font-weight: 700;
  font-size: 30px;
  padding-top:35px;
}

.contacttext {
  padding-bottom: 10px;
}
.contactform ul li{
  padding-top: 5px;
  padding-bottom: 10px;
}

/******************************* Footer *********************************/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  padding-top:24px;
  padding-bottom: 24px;
  /* margin-top:20px; */
  color:#E0E0E0;
  background-color:rgb(255,127,80);
  text-align: center;
}

footer ul li{
  display: inline-block;
  /* font-size: 16px; */
  padding: 0 12px 0 12px;
  font-weight: 1000;

}
footer a{
  color:#E0E0E0;
  text-decoration:none;
  text-transform: uppercase;
  font-size:18px;
}

/* footer p {
  margin-bottom: 0px;
} */

/* footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
} */